header{
    background-color:  wheat;
    padding: 5px;
}

h1, h2 {
    color: blue;
    text-align:center;
}

body
{
    background-color: #ffb6c1;
}

.container
{
    background-color: red;
}

#bottom
{
    background-color: #333;
    color:white;
    text-align:center;
    padding: 5px;
}

#bottom h2
{
    color: yellow;
}  
/* Mobile Styles - Up to 600px */
@media (max-width: 600px) {
    img {
        width: 100%; /* Images will fill the entire width of the screen */
        height: auto; /* Maintain aspect ratio */
    }
}

/* Tablet Styles - Between 601px and 992px */
@media (min-width: 601px) and (max-width: 992px) {
    img {
        width: 100%; /* Images will fill the width of the container */
        height: auto; /* Maintain aspect ratio */
    }
}

/* Desktop Styles - 993px and up */
@media (min-width: 993px) {
    img {
        width: 100%; /* Images will fill the width of the container */
        height: auto; /* Maintain aspect ratio */
    }
}
